.main_block_institutions {
  padding: 10px 0px;
  gap: 20px;
  margin: 0 auto;
  display: flex;
  width: 80%;
}

.restaurants_items {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

.filter_preference {
  height: auto;
  background-color: #565656;
  padding: 20px 10px;
  border-radius: 20px;
  margin-right: 20px;
}

.filter_preference p {
  margin-bottom: 20px;
  margin-left: 10px;
  color: white;
  font-weight: bold;
}

.filter_preference div {
  margin-bottom: 10px;
}

.filter_preference input {
  margin-right: 10px;
}

.filter_preference label {
  color: white;
}

.search_input {
  width: 100%;
  padding: 10px;
  margin-top: 20px;
  border: none;
  border-radius: 5px;
  box-sizing: border-box;
}

.institution_card {
  background-color: #494949;
  border-radius: 15px;
  overflow: hidden;
  text-decoration: none;
  color: white;
  transition: transform 0.3s, box-shadow 0.3s;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.institution_card:hover {
  transform: translateY(-10px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.image_container {
  position: relative;
}

.institution_image {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.title_restaurant {
  position: absolute;
  text-align: center;
  color: white;
  padding: 10px 15px;
  border-radius: 10px;
  bottom: 0;
  right: 0;
  text-decoration: underline;
  font-family: "Raleway", sans-serif;
  background-color: rgba(148, 148, 148, 0.6);
}

.filter_categories {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 20px;
  background-color: #565656;
  border-radius: 20px;
  margin-bottom: 20px;
}

.category_item {
  display: flex;
  align-items: center;
  gap: 10px;
}

.category_checkbox {
  accent-color: #494949;
}

.category_label {
  color: white;
}
