.footer{
    color: white;
	font-family: "Raleway", sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 11px;
    gap: 10px;
    margin: 0;
    padding: 0;
}