body {
  background-color: #232323;
  color: white;
  font-family: "Raleway", sans-serif;
}

.header-content {
  display: flex;
  align-items: center;
  gap: 20px;
}
.header-content h1{
  font-size: 20px;
}

.restaurant-menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px; 
}

.card_menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #494949;
  width: 146px;
  border-radius: 10px;
}

.description_item{
  padding: 5px 5px;
  font-size: 9px;
}

.bottom_card{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 4px;
  padding-bottom: 15px;
}

.bottom_card p{
  font-weight: bold;
}


.card_menu img {
  width: 100%;
  height: auto;
  box-sizing: border-box;
}


.menu-item-image {
  width: 100%;
}

.menu-item-image img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 5px 5px 0 0;
}

  .detail_menu button, .like-btn {
    background: none;
    border: none;
    cursor: pointer;
  }

    
  .detail_menu button {
    background-color: transparent;
    border: none;
    font-family: "Raleway", sans-serif;
    font-size: 12px;
    cursor: pointer;
    text-decoration: underline;
    transition: color 0.3s ease;
  }

.like-btn img {
  width: 20px;
  height: 20px;
}

.modals {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1000;
  overflow: auto;
  animation: fadeIn 0.5s ease-in-out;
}

.modal-contents {
  background-color: #494949;
  padding: 20px;
  border-radius: 5px;
  width: 80%;
  max-width: 600px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  position: relative;
  animation: fadeIn 0.5s ease-in-out;
}

.modal-contents img{
  width: 100%;
}

.modal-contents p {
  padding: 10px 0px;
  font-size: 11px;
}

.modal-contents h1 {
  margin: 10px auto;
  font-size: 14px;
}

.modal_price {
  font-size: 20px;
  font-weight: bold;
}

.close {
  position: absolute;
  right: 10px;
  bottom: 10px;
  font-size: 28px;
  cursor: pointer;
  color: #aaa;
  font-size: 13px;
  text-decoration:underline;
}
.left_item_menu{
  padding: 10px 5px;
  padding-bottom: 5px;
  font-size: 11px ;
}
.left_item_menu p{
  padding: 5px 0px;
  font-size: 9px ;

}

.close:hover {
  color: black;
  animation: fadeOut 0.5s ease-in-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.title_menu {
  padding: 20px 40px;
  color: #9D9D9D;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 11px;
}

.filter_item {
  display: flex;
  align-items: center;
  gap: 10px;
  color: white;
  font-size: 19px;
}

.filter_item img {
  cursor: pointer;
}

.filter_categories {
  display: none;
  flex-direction: column;
  gap: 10px;
  background-color: #565656;
  border-radius: 20px;
  margin-bottom: 20px;
  overflow: hidden;
}

.filter_categoriesOpen {
  display: flex;
  animation: slideDown 0.5s ease-out forwards;
  height: 200px;
  overflow: scroll;
}

.filter_categoriesClose {
  animation: slideUp 0.5s ease-out forwards;
}

.category_item {
  padding: 10px;
}

.category_checkbox {
  margin-right: 10px;
}

.category_label {
  color: #9D9D9D;
}

.btn-backto-page {
  border: 1px solid #6DDF37;
  padding: 20px 0;
  margin: 40px;
  text-align: center;
  color: #6DDF37;
  border-radius: 10px;
  cursor: pointer;
}

.loading-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.my-orders {
  display: flex;
  align-items: center;
}

.my-orders .heart-icon {
  margin-left: 10px;
  width: 20px;
  height: 20px;
}

@keyframes slideDown {
  from {
    max-height: 0;
    padding: 0 20px;
  }
  to {
    max-height: 500px;
    padding: 20px;
  }
}

@keyframes slideUp {
  from {
    max-height: 500px;
    padding: 20px;
  }
  to {
    max-height: 0;
    padding: 0 20px;
  }
}
