.clear-orders {
     color: #6DDF37;
    font-family: "Raleway", sans-serif;
    padding: 10px 0px;
    border: none;
    border-radius: 5px;
    font-size: 14px;
    cursor: pointer;
    display: flex; 
    width: 80%;
    justify-content: center;
    background-color: transparent; 
    margin: 40px auto;
    border: 1px solid #6DDF37;
    padding: 10px 0;
    text-align: center;
    color: #6DDF37;
    border-radius: 14px;
    cursor: pointer;
  }
  
  .clear-orders:hover {
    background-color: #4CAF50;
  }
  
  .sum_total_menu {
    width: 90%;
    margin: auto;
    padding: 10px 20px;
    line-height: 1;
    background-color: #565656;
    color: white;
    font-family: "Raleway", sans-serif;
    margin-top: 20px;
    border-radius: 5px;
  }
  
  .sum_total_menu p {
    margin: 5px 0;
  }
  
  .total_price {
    font-weight: bold;
    margin-top: 10px;
  }

  
  .detail_menu button:hover {
    color: #4CAF50;
  }
  
  .quantity-control {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    border: 1px solid #6DDF37;
    border-radius: 20px;
    gap: 10px;
  }
  
  .quantity-control button {
    border: none;
    font-family: "Raleway", sans-serif;
    /* font-size: 14px; */
    cursor: pointer;
    background: none;
    display: flex;
    color: white;
  }
  .quantity-control span {
    font-size: 17px;
  }
  .quantity-control button:disabled {
    cursor: not-allowed;
    background-color: none;
  }
    