.card_menu_game {
    cursor: pointer;
    background-color: #565656;
    font-family: "Raleway", sans-serif;
  }
  
  .card_menu_game img {
    width: 100%;
  }
  
  .card_menu_game p {
    padding: 20px 30px;
  }
  
  .restaurant-games {
    display: grid;
    grid-template-columns: 1fr 1fr ;
    gap: 5px;
  }
  
  .modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .modal-content {
    position: relative;
    width: 100%;
    height: 100%;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .modal-iframe {
    width: 100%;
    min-height:100vh;
    border: none;
  }
  
  .modal-button {
    position: absolute;
    top: 0px;
    right: 0px;
    background-color: rgba(255, 3, 3, 0.1);
    border: none;
    padding: 10px;
    cursor: pointer;
    color: white;
  }
  
  .modal-button:hover {
    background-color: #f0f0f0;
  }
  footer{
    padding: 40px 0;
}